body {
    padding: 0px;
    margin: 0px;
    color: #95796b;
    height: 100%;
}

html {
    padding: 0px;
    margin: 0px;
}

.header {
    width:100%;
    height:200px;
    margin: 0px;
    padding-left: 1%;
    background-color: #EBE8E3;
}

.filler {
    height: 90%;
}

.menu-item {
    color: white;
    vertical-align:bottom;
}

.menu-item a {
    color: #BEADA4;
    font-weight:bold;
    min-width: 110px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EBE8E3;
    outline-color: #BEADA4;
    min-width: 110px;
}

.dropdown-content a{
    display: block;
    margin-bottom: -1px;
    border: solid 1px #BEADA4;
    width: 99%;
    font-weight:normal;
}

.dropdown-content a:hover {
    background-color: #BEADA4;
    color: #EBE8E3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.page-info{
    padding: 2%;
    padding-bottom: 2%;
    display: block;
    overflow:auto;
}

h2 {
    color: #992E24;
}

.footer{
    background-color: #992E24;
    width:100%;
    margin: 0px;
    margin-top: 1%;
    display: block;
    min-height: 50px;
    bottom:0px;
    vertical-align:bottom;
}